Objects type:
    0: Switch
    1: PWM
    2: RGB
    3: Remote PWM
    4: Remote RGB
    5: Remote Client Board

[
      {
        id: 0,
        type: 0,
        name: "Sofa Lights",
        lastState: 0,
        gpio: 0
    },
    {
        id: 1,
        type: 1,
        name: "Sofa LEDS",
        lastState: 200,
        gpio: 1
    },
    {
        id: 2,
        type: 3,
        name: "TV Desk LEDS",
        lastState: 200,
        gpio: 2,
        remoteClientId: 6
    },
    {
        id: 3,
        type: 2,
        name: "Windows LEDS",
        lastState: [200, 155, 33],
        gpio: [3, 4, 5]
    },
    {
        id: 4,
        type: 2,
        name: "Entrance LEDS",
        lastState: [200, 155, 33],
        gpio: [6, 7, 8]
    },
    {
        id: 5,
        type: 4,
        name: "TV LEDS",
        lastState: [200, 155, 33],
        gpio: [9, 10, 11],
        remoteClientId: 6
    },
    {
        id: 6,
        type: 5,
        ip: "192.168.0.12",
        port: 5000
    }
]