<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <title>DomoHome</title>
    <meta name="description" content="DomoHome General purpose management interface">
    <meta name="author" content="Alexy Torres">

    <meta property="og:title" content="DomoHome General purpose management interface">
    <meta property="og:type" content="website">
    <meta property="og:description" content="DomoHome General purpose management interface">

    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <header></header>
    <main>
        <div id="login_box">
            <form id="login_form" method="POST" action="#">
                <img class="login_logo" src="{{ url_for('static', filename='images/welcome_logo.jpg') }}"/>
                <div class="row">
                    <i class="material-icons login_box_icon">login</i>
                    <div class="input-field col s12">
                        <input id="username_field" type="text">
                        <label for="username_field">Username</label>
                        <span class="helper-text" id="username_info" data-error="" data-success=""></span>
                    </div>
                </div>
                <div class="row">
                    <i class="material-icons login_box_icon">lock</i>
                    <div class="input-field col s12">
                        <input id="password_field" type="password">
                        <label for="password_field">Password</label>
                        <span class="helper-text" id="password_info" data-error="" data-success=""></span>
                    </div>
                </div>
                <button type="button" class="button buttonBlue btn-flat" id="login_btn">
                    LOGIN
                    <div class="ripples buttonRipples">
                        <span class="ripplesCircle"></span>
                    </div>
                </button>
                <div class="reg_centered">
                    <a class="modal-trigger" href="#modal_about">About</a>
                </div>
                <input type=submit id="login_submit" style="display:none">
            </form>
        </div>
    </main>
    <footer></footer>

    <!-- Modal Structure -->
    <div id="modal_about" class="modal bottom-sheet">
        <div class="modal-content">
            <h4>About</h4>
            <p>Domohome &copy; Alexy Torres 2022<br /><br />
                Domohome is a domotic application aimed at managing connected objects in the house.<br /><br />
                <a target=\"_blank\" href=\"https://github.com/Oxmose/DomoHome\">Github page</a>
            </p>
        </div>
    </div>

    <!-- JS loading -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="{{ url_for('static', filename='global.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

<script>
    /* On document ready */
    $( document ).ready(function() {
        /* Try to login */
        tryLogin();

        /* Initialize the login box */
        initLoginBox();

        /* Initialize the modal boxes */
        $('.modal').modal();
    });
</script>

</html>